body {
    background-color: #F6BE83;
    font-family: 'Times New Roman', Times, serif;
}

body h1 {
    color: #4A2C0C;
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
}

body h2 {
    color: #4A2C0C;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}

body h3 {
    color: #4A2C0C;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

body h4 {
    color: #4A2C0C;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    height: 100vh;
    width: 100%;
}

#sitehead {
    height: 15%;
    justify-content: center;
    padding: 2rem;
}

#sitebody {
    height: 85%;
    justify-content: center;
}

#outer-view {
    border: 2px #4A2C0C solid;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#middle-view {
    border: 5px #4A2C0C solid;
    height: 98%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner-view {
    border: 2px #4A2C0C solid;
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6E2B9;
}

/* Cryptogram puzzle display formatting below this line */

#head-display {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-elements {
    height: 10%;
    margin: 30px;
    color: #4A2C0C;
    font-weight: 700;
    font-size: 1.5em;
}

#solve-form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#main-crypto-div {
    margin: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.word-span {
    margin-left: 25px;
}

.char-input {
    margin: 0.1em;
    height: 1.5em;
    width: 1.24em;
    background-color: rgba(255, 255, 255, 0.4);
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 3px #4A2C0C solid;;
}

.char-label{
    float: left;
    width: 17.36px;
    margin:0.1em;
    display: flex;
    justify-content: center;
}

.punctuation {
    font-weight: 900;
}

#alphabet-key {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    text-align: center;
}

.key-char-input {
    margin: 0.1em;
    height: 1.5em;
    width: 1.24em;
    background-color: rgba(255, 255, 255, 0.4);
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 3px #4A2C0C solid;;
}

#challenge-submit-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Cryptogram answer styling below this line */



/* side box styling */
.side-container {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

}
.side-box {
    border: 3px #4A2C0C solid;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    min-height: 100%;
    min-width: 100%;
    border: 1px #4A2C0C solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.level-progress {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: #4A2C0C;
}

/* left side box styling */
#nav {
    height: 25%;
}

.my-button {
    border: 3px #4A2C0C solid;
    color: #4A2C0C;
    margin: .5em;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 4px 4px;
    font-weight: 600;
}

#progress {
    height: 45%;
    overflow: hidden;
}

#prog-inner {
    padding: 1em;
    font-style: italic;
    font-weight: 600;
    color: #4A2C0C;
}

#new-puzzle {
    height: 20%;
}

#np-inner {
    color: #4A2C0C;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


/* right side box styling */
.right-three {
    height: 30%;
}